@model Careers.Models.PositionListingViewModel
@using GridMvc.Html
@{
    ViewBag.Title = "Open Jobs";
}

<h2>Open Jobs</h2>
<hr/>
<div class="row">
    <div class="col-md-10">
        @Html.Grid(Model.Positions).Columns(columns =>
                    {
                        columns.Add()
                            .Sanitized(false)
                            .Encoded(false)
                            .Sortable(true)
                            .RenderValueAs(p => Html.ActionLink(p.Title, "Details", "Position", new { id = p.Id }, new { }));
                    }).WithPaging(25);
    </div>
    <div class="col-md-2">
        @if (Model.CanAddPosition)
        {
            <div class="btn-group-vertical">
                @Html.ActionLink("Create New Position", "Create", "Position", new { @class = "btn btn-default" })
            </div>
        }
    </div>
 </div>

