
@{
    ViewBag.Title = "Careers";
}

<h2>Careers</h2>

@model System.Collections.Generic.IEnumerable<Careers.Models.Position>

<div>
    @foreach (var item in Model)
    {
        <a href="@Url.Action("Details", "Position", new { id = item.Id })">
            <h3>@Html.DisplayFor(score => item.Title)</h3>
            <p>@Html.DisplayFor(score => item.Description)</p>
        </a>
    }
    <ul>
        <li>@Html.ActionLink("Create New Position", "Create", "Position")</li>
    </ul>
</div>