@model Careers.Models.PositionIndexViewModel
@{
    ViewBag.Title = "Careers";
}

<h2>Careers</h2>
<div>
    @foreach (var item in Model.Positions)
    {
        <a href="@Url.Action("Details", "Position", new { id = item.Id })">
            <h3>@Html.DisplayFor(score => item.Title)</h3>
            <p>@Html.DisplayFor(score => item.Description)</p>
        </a>
    }

    @if(Model.CanAddPosition) {
        <h3>Actions:</h3>
        <ul>
            <li>@Html.ActionLink("Create New Position", "Create", "Position")</li>
        </ul>
    }
</div>