@model Careers.Models.ApplicationListingViewModel
@using GridMvc.Html

@{
    ViewBag.Title = "Careers";
}

<h2>My Applications</h2>
<hr />

<div>
    @Html.Grid(Model.Applications).Columns(columns =>
                    {
                        columns.Add()
                            .Sanitized(false)
                            .Encoded(false)
                            .Titled("Candidate")
                            .Sortable(true)
                            .RenderValueAs(a => Html.ActionLink(a.Position.Title, "Details", "Application", new { id = a.Id }, new { }));
                        columns.Add(a => a.AppliedOn)
                            .Titled("Applied On")
                            .Sortable(true)
                            .RenderValueAs(a => a.AppliedOn.ToShortDateString());
                        columns.Add(a => a.Position.Status)
                            .Titled("Position Status")
                            .Sortable(true);                        
                    }).WithPaging(25)
</div>
